In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('kc_house_data.csv').head(10)

In [4]:
df.drop(columns=['id', 'date'], axis=1, inplace=True)

In [12]:
df.set_index('grade')

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
grade,,,,,,,,,,,,,,,,,,
7,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
7,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
6,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
7,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
8,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
11,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,3,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
7,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,3,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,3,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
7,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,3,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
7,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,3,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

In [13]:
df['waterfront'] = df['waterfront'].fillna(df['waterfront'].median())
df['view'] = df['view'].fillna(df['view'].median())
df['yr_renovated'] = df['yr_renovated'].fillna(0)

In [15]:
df.loc[df['yr_renovated'] < 2000.0] = 0
df.loc[df['yr_renovated'] >= 2000.0] = 1
df['yr_renovated'] = df['yr_renovated'].astype(int)
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
1,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
2,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
3,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
4,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
5,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
6,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
7,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
8,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0
9,0.0,0,0.0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,0.0,0,0